// COLORS

$color-primary-lighter: #d0ebff;
$color-primary-light: #74c0fc;
$color-primary: #339af0;
$color-primary-dark: #1c7ed6;
$color-primary-darker: #1864ab;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT

$default-font-size: 1.6rem;
$font-heading: "Roboto Slab", serif;

//SHADOW

$shadow: 0 0 2rem rgba($color-primary-dark, 0.3);
$shadow-black: 0 0.5rem 2rem rgba($color-black, 0.2);

// SIZE

$header-height: 10rem;
