.header {
  height: $header-height;
  display: flex;
  align-items: center;
  box-shadow: $shadow;

  @include respond(tab-port) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: rgba($color-white, 0.9);
  }

  &__logo {
    height: 8rem;
    animation: moveInRight 1s ease-in;

    @include respond(phone) {
      height: 6rem;
    }
  }

  &__heading {
    font-family: $font-heading;
    margin-left: 1rem;
    margin-right: auto;
    animation: moveInLeft 1s ease-out;

    @include respond(phone) {
      margin-left: 0;
    }

    &--main {
      letter-spacing: 1.8px;
      font-size: 4rem;
      font-weight: 400;

      text-shadow: 1px 2px 4px rgba($color-primary-light, $alpha: 0.7);

      @include respond(phone) {
        letter-spacing: 0.6px;
        font-size: 3.2rem;
      }
    }

    &--sub {
      letter-spacing: 1.2px;
      font-size: 2rem;
      font-weight: 600;
      text-transform: uppercase;
      text-shadow: 1px 1px 2px rgba($color-primary-light, $alpha: 0.6);

      @include respond(phone) {
        letter-spacing: 0.7px;
        font-size: 1.6rem;
      }
    }
  }

  &__nav {
    height: 100%;
    font-size: 2rem;
    // margin-left: auto;
    list-style: none;
    display: flex;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__nav--item {
    height: 100%;
    display: flex;
    align-items: center;

    transition: all 0.3s;

    &:hover,
    &:active {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  &__nav--link:link,
  &__nav--link:visited {
    padding: 0 1.5rem;
    line-height: $header-height;
    text-decoration: none;
    color: currentColor;
  }
}
