.info {
  // background-color: $color-primary-light;
}

.container {
  width: 80%;
  max-width: 114rem;
  margin: 0 auto;
  padding: 5rem;
  display: flex;
  align-items: center;
  gap: 6rem;
}

.about {
  // padding: 0 3rem;

  &__title {
    background-image: linear-gradient(
      to right,
      $color-primary-darker,
      $color-primary-lighter
    );
    background-clip: text;
    color: transparent;
    // text-transform: uppercase;
    // text-align: center;
    font-size: 3.2rem;
    letter-spacing: 2px;
    margin-bottom: 3rem;
  }

  &__text {
    font-size: 1.8rem;
    line-height: 1.4;
  }
}

.img-container {
  flex: 1 0 20rem;
  height: 20rem;
  overflow: hidden;
  border: 0.8rem solid $color-primary-lighter;
  border-radius: 50%;
  box-shadow: $shadow-black;

  .img-photo {
    width: 100%;
  }
}
