.experiences {
  background-color: $color-grey-light-1;
  padding: 6rem 0;
  text-align: center;

  @include respond(phone) {
    scroll-margin-top: $header-height;
  }

  &__title {
    margin-bottom: 6rem;
  }

  &__list {
    list-style: none;
    text-align: left;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    row-gap: 4rem;
    // flex-wrap: wrap;

    @include respond(phone) {
      grid-template-columns: 15% 70% 15%;
      row-gap: 6rem;
    }
  }

  &__card {
    color: $color-white;
    border: 1px solid $color-primary;
    background-image: linear-gradient(
      to bottom,
      $color-primary-darker,
      $color-primary
    );
    padding: 3rem;
    box-shadow: $shadow-black;

    &:nth-child(odd) {
      grid-column: 1 / 3;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;

      @include respond(phone) {
        // margin: 0 10rem;
        grid-column: 2 / 3;
        border-radius: 5px;
      }
    }

    &:nth-child(even) {
      grid-column: 2 / 4;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 15px;

      @include respond(phone) {
        // margin: 0 10rem;
        grid-column: 2 / 3;
        border-radius: 5px;
      }
    }
  }

  &__society {
    color: $color-grey-light-2;
    font-size: 2rem;
    // margin-bottom: 1rem;
  }

  &__role {
    font-size: $default-font-size;
    margin-bottom: 1.5rem;
  }

  &__desc {
    font-size: 1.4rem;
  }
}
