.info {
  margin-bottom: 6rem;
}

.about {
  padding: 5rem 0;
  display: flex;
  align-items: center;
  gap: 15rem;
  margin-bottom: 3rem;

  @include respond(phone) {
    text-align: center;
    flex-direction: column-reverse;
    gap: 5rem;
  }

  &__title {
    margin-bottom: 3rem;
  }

  &__text {
    font-size: $default-font-size;
    line-height: 1.6;
    @include respond(phone) {
      text-align: justify;
    }
  }

  &__image-container {
    flex: 1 0 20rem;
    height: 20rem;
    overflow: hidden;
    border: 0.5rem solid $color-primary-light;
    border-radius: 50%;
    box-shadow: $shadow-black;

    animation: moveInBottom 0.5s ease-in;

    @include respond(phone) {
      text-align: left;
      flex: 0 0 20rem;
      width: 20rem;
    }
  }

  &__image-picture {
    width: 100%;
    -webkit-user-drag: none;
    // user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

.skills {
  text-align: center;

  &__title {
    margin-bottom: 4.5rem;
  }

  &__slide {
    display: flex;
    flex-direction: column;
  }

  &__img-container {
    width: 10rem;
    height: 15rem;
  }

  &__image {
    width: 100%;
    margin-bottom: 1rem;
  }

  &__titte {
    font-size: 1.5rem;
    font-weight: 600;
    color: $color-grey-dark-3;
  }
}
