.mobile {
  &__button {
    cursor: pointer;
    padding: 1rem;
    margin-right: 2rem;
    display: none;

    @include respond(tab-port) {
      display: block;
    }
  }

  &__icon {
    position: relative;
    margin-top: 1rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-primary-darker;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // flex: 0 0 50%;

    list-style: none;
    padding: 20rem 0;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 99;
    width: 100%;
    transform: translate(150%);
    transition: transform 0.5s ease-in-out;
    text-align: center;

    &--item {
      // text-transform: uppercase;
      font-weight: 600;
      font-size: 3.2rem;

      &:not(:last-child) {
        margin-bottom: 3.2rem;
      }
    }

    &--link:link,
    &--link:visited {
      display: inline-block;
      padding: 1rem 2rem;
      color: $color-primary;
      background-color: $color-white;
      text-decoration: none;
      transition: 0.2s all;
    }

    &--link:hover,
    &--link:active {
      color: $color-white;
      background-image: linear-gradient(
        to bottom,
        $color-primary-darker,
        $color-primary
      );
      transform: translateY(-3px);
    }
  }

  &__checkbox:checked ~ .mobile__button {
    z-index: 999;
  }

  &__checkbox:checked ~ .mobile__nav {
    transform: translateX(0);
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button > &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button > &__icon::before {
    transform: rotate(135deg);
    top: 0;
  }

  &__checkbox:checked + &__button > &__icon::after {
    transform: rotate(-135deg);
    top: 0;
  }
}
